form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    background-color: #fff;
    width: 865px;
    height: 500px;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    padding: 10px;
    margin-top: 53%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #0077cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005ea6;
  }
 
  
