table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 200px ;
  }
  
  td {
    padding: 23px;
    vertical-align: top;
  }
  
  .left-column {
    width: 50%;
  }
  .Right-column {
    width: 100%;
    height: 0%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .imagee {
    display:flex;
    width: 100%;
    height: auto;
  }
  .small-image {
    display:inline;
    width: 20%;
    height: auto;
    margin-top: 12px;
    margin-right: 24px;
  }
