.container{
    background-color:rgb(34, 34, 33);
    height: 90px;
   

}
.textContainer{
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
    padding: 2rem;
    
}
.button{
    margin-left: 20px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    color: white;
    background-color:rgb(0, 0, 0);
    font-weight: 600;
    padding: 7px;
}

.button:hover{
     background-color: bisque;
}

.searchContainer{
    margin-right: 1px;
    width: 350px;
    justify-content:end
}
.form-control {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 7px;
    font-size: 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 35px
  }
 
